  <dl class="question-sm">
    <dt>なぜこの質問が必要なのか？</dt>
    <dd>
      <p>取引先と締結している重要な契約は、あなたの会社の財産です。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　あなたの会社は、顧客、仕入先、外注先、従業員などなどたくさんの関係者との取引によって成り立っています。</li>
        <li class="glyphicon glyphicon-pencil">　さまざまな努力の結果、取引が始まったものと思われますが、中でも事業の根幹をなすような重要な取引を裏付ける契約はあなたの会社が事業を継続するために不可欠なものです。</li>
        <li class="glyphicon glyphicon-pencil">　そこで、事業を行う上で欠かせない重要な契約としてどのようなものがあるのかを書いて、買い手にアピールしましょう。</li>
      </ul>
    </dd>
    <dt>書き方のポイント</dt>
    <dd>
      <p>機密情報や相手先との関係に留意しながら、契約のイメージが伝わるように書いてください</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　契約の名称には、相手先と契約内容のイメージがわかるように書いてください。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　大手飲食チェーンとのフランチャイズ契約</li>
            <li class="glyphicon glyphicon-ok">　上場している大手機械メーカーとの取引基本契約</li>
            <li class="glyphicon glyphicon-ok">　医薬品研究機関との開発受託契約</li>
            <li class="glyphicon glyphicon-ok">　米国インテリアメーカーの販売代理店契約</li>
            <li class="glyphicon glyphicon-ok">　技術力のある協力工場5社への生産委託契約</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">　契約の種類には、「取引基本契約」、「販売代理店契約」、「フランチャイズ契約」、「外注」を選択し、どれにも当てはまらない場合には「その他」を選択してください。</li>
        <li class="glyphicon glyphicon-pencil">　契約の特徴やビジネス上のメリットには、契約があることによって事業上どのような効果が得られているのかを書いてください。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　フランチャイズ契約によって大手のブランドやノウハウを得ることができる</li>
            <li class="glyphicon glyphicon-ok">　上場会社との取引基本契約による口座を持っていることで、大口の受注を得るルートを作っている</li>
            <li class="glyphicon glyphicon-ok">　開発受託契約によって、今後3年間の収益見通しを立てることができる</li>
            <li class="glyphicon glyphicon-ok">　独占的に家具を仕入れることができ、商品ラインナップを充実させることができる</li>
            <li class="glyphicon glyphicon-ok">　複数の技術力のある協力工場に対して生産委託を行えるため、品質の高い調達が安定して行える</li>
          </ul>
      </ul>
      <p>留意事項としては・・・</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　契約を３つとも書く必要はありません。重要なものに絞って頂いて結構です。</li><br>
        <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      </ul>
    </dd>
  </dl>