  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>大切な顧客があなたの会社と取引している理由は、そのままあなたの会社の強みになります。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　顧客は信用できない会社から購入しません。それは、特に規模の大きな会社や上場企業は信用を重視します。</li>
        <li class="glyphicon glyphicon-pencil">　あなたの会社が大切な顧客から取引相手として選ばれているということは、あなたの会社を信用しているからです。</li>
        <li class="glyphicon glyphicon-pencil">　信用される理由はさまざまですが、この理由がそのままあなたの会社の強みになります。信用という言葉で済まさずに、なぜ信用をしてもらっているのかについて、しっかり考え、強みを洗い出していきましょう。</li>
      </ul>
    </dd>
    <dt>書き方のポイント（法人顧客がメインの場合）</dt>
    <dd>
      <p>顧客から何が評価されて取引を継続してもらっているか、しっかり考えてみましょう。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　決められた納期をきっちり守るために、工程管理や発注管理を徹底している。</li>
        <li class="glyphicon glyphicon-pencil">　要求された品質を確保するために、品質管理担当者を置いて、品質チェックを厳密に実施している。</li>
        <li class="glyphicon glyphicon-pencil">　営業担当者が顧客に入り込み、さまざまな顧客の課題解決に向けて手助けをしている。</li>
      </ul>
    <dt>書き方のポイント（個人顧客がメインの場合）</dt>
    <dd>
      <p>顧客から何が評価されて取引を継続してもらっているか、しっかり考えてみましょう。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　好立地に出店し顧客の利便性を高めることができるように、不動産情報のルートを持っている。</li>
        <li class="glyphicon glyphicon-pencil">　どの店舗でも同じ味を出して顧客の期待を裏切らないために、メニュー開発への注力とレシピ・マニュアル化を徹底している。</li>
        <li class="glyphicon glyphicon-pencil">　他店では手に入らない商品ラインナップを作るために、自社にしかない仕入ルートがある。</li>
      </ul>
    </dd>
  </dl>
