  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>買い手は商品やサービス、技術から探すことが多い。しっかり書いて買い手にアピールしましょう！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　商品やサービス、技術は会社の顔です。どのような商品やサービスを取り扱っているか、どのような技術をもっているかを買い手にきっちりと知ってもらうことがまず第一歩です。</li>
        <li class="glyphicon glyphicon-pencil">　特に、自信のある商品や他社に負けない技術などがあれば、できるだけ具体的に書くことで、買い手の目にとまりやすくなります。</li>
      </ul>
    </dd>
    <dt>書き方のヒント</dt>
    <dd>
      <p>商品やサービス、技術を書くときには、以下のポイントを書くとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　商品やサービス自体だけでなく、用途や対象顧客などの背景を書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　医療用○○機器用の○○部品の設計・加工を得意としている</li>
            <li class="glyphicon glyphicon-ok">　自動車や建設機械用の各種歯車の製造を小ロット短納期対応</li>
            <li class="glyphicon glyphicon-ok">　近隣に大学が多く、学生向けの居酒屋</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">　特徴を書くときは、できるだけ比較の対象を置く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　従来のxx加工法に比べて、タスクタイムが○○秒短縮</li>
            <li class="glyphicon glyphicon-ok">　特別な仕入ルートを確保していることから、競合店よりも低価格でいいモノを提供</li>
            <li class="glyphicon glyphicon-ok">　設計部門を置いていることから、他社にはできない企画・設計段階からの提案が可能</li>
          </ul>
      </ul>
    </dd>
  </dl>
