  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>Ｍ＆Ａはゴールではなく新たなスタートです！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　Ｍ＆Ａによって会社は新たなスタートを切ることになります。そのときに前任者となるあなたから後任者に重要事項を引き継ぐ必要があります</li>
        <li class="glyphicon glyphicon-pencil">　これまでの会社をもっともよく知っているのはあなたです。会社とともに新たなスタートを切る従業員や顧客、取引先との関係でこれからも守ってほしいことを伝えましょう。</li>
      </ul>
    </dd>
    <dt>書き方のヒント</dt>
    <dd>
      <p>引き継ぎ事項を書くときには、以下のポイントを書くとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　多くを求めすぎないようにポイントを絞る</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　現状の従業員の雇用をできるだけ維持してほしい</li>
            <li class="glyphicon glyphicon-ok">　古くからの顧客が多い○○事業は残してほしい</li>
            <li class="glyphicon glyphicon-ok">　会社の変化を緩やかにするために、3年は何等かの形で残りたい</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">  あまり多くを伝えたり、具体的な要求をしてしまうと、買い手候補が減ってしまったり、条件が悪くなったりする可能性があります。お願い事項はできるだけ絞って、お互い交渉の余地を残せる書き方をしましょう。</li>
      </ul>
    </dd>
  </dl>
