<dl class="question-sm">
  <dt>法人向けの販売・営業手法ポイントの書き方</dt>
  <dd>
    <p>ポイントは、「誰」が「誰」に対して、「どのようなタイミングと方法」で行っているか？</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　まずは、販売・営業を得意とするのがどのような人なのかを書く（固有名詞は不要です）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　営業部の3名が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　社長によるトップ営業で・・・</li><br>
          <li class="glyphicon glyphicon-ok">　営業部長が・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　次に、どのような相手に対して営業をしているのかを書く（顧客名は匿名でも結構です）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　以前からの上顧客10社程度に対して・・・</li><br>
          <li class="glyphicon glyphicon-ok">　新規顧客の開拓のために・・・</li><br>
          <li class="glyphicon glyphicon-ok">　WEBから問い合わせがあった先に対して・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　最後に、どのような頻度で何をしているのかを書く</li><br>
        <ul>
          <li class="glyphicon glyphicon-ok">　毎月の訪問計画を立てて、訪問してニーズの収集に当たっている・・・</li><br>
          <li class="glyphicon glyphicon-ok">　顧客を紹介してもらえるルートに対して、月に1回の提案営業を行っている・・・</li><br>
          <li class="glyphicon glyphicon-ok">　問い合わせの都度、TELによる説明を行っている・・・</li><br>
    　　</ul>
    </ul>
    <p>留意事項としては・・・</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　ポイントを３つとも書く必要はありませんが、できれば３つひねり出してみてください。</li><br>
      <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      <li class="glyphicon glyphicon-pencil">　できるだけ、社長による販売・営業以外を書いてください。なぜなら、買い手が関心を持っているのはあなたの会社が社長抜きでも回っていくかどうかだからです。</li><br>
    </ul>
  </dd>
  <dt>個人顧客向けの集客ポイントの書き方</dt>
  <dd>
    <p>ポイントは、「誰」が「誰」に対して、「どのようなタイミングと方法」で行っているか？</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　まずは、集客を得意とするのがどのような人なのかを書く（固有名詞は不要です）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　店長が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　営業部長が・・・</li><br>
    　　</ul>
    　<li class="glyphicon glyphicon-pencil">　次に、どのような相手に対して営業をしているのかを書く（個人情報は書かないでください）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　顧客リストから抽出した会員顧客に対して・・・</li><br>
          <li class="glyphicon glyphicon-ok">　来店客に対して・・・</li><br>
          <li class="glyphicon glyphicon-ok">　WEBサイトへの訪問者に対して・・・</li><br>
      </ul>
      <li class="glyphicon glyphicon-pencil">　最後に、どのような頻度で何をしているのかを書く</li><br>
        <ul>
          <li class="glyphicon glyphicon-ok">　毎月、会員限定のお得な情報を掲載したダイレクトメールを送付している・・・</li><br>
          <li class="glyphicon glyphicon-ok">　週末に値引きクーポンの配布を行っている・・・</li><br>
          <li class="glyphicon glyphicon-ok">　ランディングページへの誘導と無料情報の配布を行っている・・・</li><br>
    　</ul>
    </ul>
    <p>留意事項としては・・・</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　ポイントを３つとも書く必要はありませんが、できれば３つひねり出してみてください。</li><br>
      <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      <li class="glyphicon glyphicon-pencil">　できるだけ、社長による集客・販売活動以外を書いてください。なぜなら、買い手が関心を持っているのはあなたの会社が社長抜きでも回っていくかどうかだからです。</li><br>
    </ul>
  </dd>
</dl>
