<dl class="question-sm">
  <dt>技術力のポイントの書き方</dt>
  <dd>
    <p>ポイントは、「誰」が持っている「どのような内容」の技術なのか？</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　まずは、その技術を持っている人が誰なのかを書く（固有名詞は不要です）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　技術部の2名が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　料理長が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　社長が・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　次に、どのような内容の技術かを書く（できるだけ具体的に）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　○○向け微粒子・機能性高分子特性解析・・・</li><br>
          <li class="glyphicon glyphicon-ok">　○○ホテルのフランスレストランにて料理長の経験・・・</li><br>
          <li class="glyphicon glyphicon-ok">　難加工材の微細な切断・曲げ加工・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　顧客の評価や実績がわかれば書いておくとベター</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　大手自動車部品メーカーとの取引実績として・・・</li><br>
          <li class="glyphicon glyphicon-ok">　上場企業をはじめ多くの顧客から継続受注を得ている・・・</li><br>
          <li class="glyphicon glyphicon-ok">　ぐるなびの評価点が・・・</li><br>
    　　</ul>
    </ul>
    <p>留意事項としては・・・</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　ポイントを３つとも書く必要はありませんが、できれば３つひねり出してみてください。</li><br>
      <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      <li class="glyphicon glyphicon-pencil">　できるだけ、社長による技術力以外を書いてください。なぜなら、買い手が関心を持っているのはあなたの会社が社長抜きでも回っていくかどうかだからです。</li><br>
    </ul>
  </dd>
</dl>
