  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>あなたの会社がどういう会社かを知ってもらうため！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　買い手は、どんなことをしている会社が譲渡を希望しているのか知りません。あなたの会社がどんな会社なのかを知りたがっています。</li>
        <li class="glyphicon glyphicon-pencil">　具体的な業務内容や取扱い商品・サービス、持っている技術や顧客などをアピールしましょう。</li>
      </ul>
    </dd>
    <dt>書き方のヒント（BtoB企業）</dt>
    <dd>
      <p>事業内容を書くときには、以下のポイントを書くようにするとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　できる限り具体的に書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　タングステンなど高融点材料のプラズマ加工</li>
            <li class="glyphicon glyphicon-ok">　半導体製造設備向けのアルミ精密部品の超精密切削加工</li>
            <li class="glyphicon glyphicon-ok">　輸入子供服専門の衣料品商社</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">  他社との違いをアピールできそうなものを書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　チタンなどの難加工材の切断加工が得意</li>
            <li class="glyphicon glyphicon-ok">　顧客の開発部門に入り込み、開発段階に積極参加</li>
            <li class="glyphicon glyphicon-ok">　他社では取扱いをしていない帽子やカバンを取り扱っている</li>
          </ul>
      </ul>
    </dd>
    <dt>書き方のヒント（BtoC企業）</dt>
    <dd>
      <p>事業内容を書くときには、以下のポイントを書くようにするとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　できる限り具体的に書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　大阪府に5店舗を展開する食品スーパー</li>
            <li class="glyphicon glyphicon-ok">　インターネット販売をメインとする輸入家具販売</li>
            <li class="glyphicon glyphicon-ok">　愛知県と三重県に3店舗を展開する焼肉店</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">　他社との違いをアピールできそうなものを書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　地域密着型の店舗経営によって固定客を確保している</li>
            <li class="glyphicon glyphicon-ok">　サイトへの集客力がある（平均して100万PV/月）</li>
            <li class="glyphicon glyphicon-ok">　他社にはない仕入ルートを持っており、商品ラインナップが豊富</li>
          </ul>
      </ul>
    </dd>
  </dl>
