  <dl>
    <dt> なぜこの質問なのか？</dt>
    <dd>
      <p>生きている顧客の数はあなたの会社の価値を図る重要な指標です</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社経営において、もっとも重要な指標のひとつは「顧客数」。それも、実際に取引をしている「生きている顧客数」です。</li>
        <li class="glyphicon glyphicon-pencil">　顧客がいれば、ニーズを聞ける、営業がしやすい、買ってもらいやすい、というように、売上を確保するために必要不可欠な取引先です。</li>
        <li class="glyphicon glyphicon-pencil">　業種や商品・サービスによって顧客数の水準はまったく異なりますが、過去1年間の販売データから取引のあった顧客を数えてみてください。</li>
      </ul>
    </dd>
    <dt>書き方のポイント</dt>
    <dd>
      <p>過去1年間の販売資料（販売データ、得意先一覧表など）を用意してください。そこから、過去一年間に販売した顧客数を数えてください。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　1社に対して、1年で1回だけ販売したケースも100回販売したケースも同じ1社として数えてください。</li>
        <li class="glyphicon glyphicon-pencil">　法人顧客と個人顧客がいずれも存在する場合には、「社または人」を選択してください。</li>
        <li class="glyphicon glyphicon-pencil">　1年間という期間の考え方は、会計期間、暦年（1～12月）、直近月から12ヶ月間のいずれでも結構です。</li>
        <li class="glyphicon glyphicon-pencil">　顧客数が多い場合、計測が難しい場合などは概算数で書いてください。</li>
　    </ul>
    </dd>
  </dl>
