<dl class="question-sm">
  <dt>開発力のポイントの書き方</dt>
  <dd>
    <p>ポイントは、「誰」が「どのようなノウハウを使って」開発しているのか？</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　まずは、開発を行っている人が誰なのかを書く（固有名詞は不要です）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　開発担当の2名が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　社長が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　バイヤーが・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　次に、どのようなノウハウを使っているのかを書く（できるだけ具体的に）。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　過去に蓄積された○○の設計ノウハウを使って・・・</li><br>
          <li class="glyphicon glyphicon-ok">　販売データの分析と顧客へのヒアリング結果を使って・・・</li><br>
          <li class="glyphicon glyphicon-ok">　独自に切り開いた海外業者ルートからの情報を使って・・・</li><br>
    　　</ul>
      <li class="glyphicon glyphicon-pencil">　商品やサービスそのものの開発だけでなく、事業の仕組みの開発力も重要。</li>
        <ul>
          <li class="glyphicon glyphicon-ok">　顧客に満足してもらうための仕組み・・・</li><br>
          <li class="glyphicon glyphicon-ok">　商品を効率的に作るための仕組み・・・</li><br>
          <li class="glyphicon glyphicon-ok">　新たな商品やサービスを作るための情報収集の仕組みも開発力になる・・・</li><br>
    　　</ul>
    </ul>
    <p>留意事項としては・・・</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　ポイントを３つとも書く必要はありません。</li><br>
      <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      <li class="glyphicon glyphicon-pencil">　できるだけ、社長による開発力以外を書いてください。なぜなら、買い手が関心を持っているのはあなたの会社が社長抜きでも回っていくかどうかだからです。</li><br>
    </ul>
  </dd>
</dl>
