  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>譲渡の理由から、会社が抱えるさまざまな課題を強みに変える可能性が見えてくる！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　買い手がＭ＆Ａで期待しているのは、事業を譲り受けることで生じるシナジー効果（相乗効果）です。</li>
        <li class="glyphicon glyphicon-pencil">　売り手だけでは解決できなかった経営課題を買い手が埋めることができれば、売り手の強みがそのまま相乗効果となります。</li>
        <li class="glyphicon glyphicon-pencil">　後継者不在、販路に対する閉塞感、技術力の不足など、解決すれば事業が継続、好転するようなポイントを見つけて書いていきましょう。</li>
      </ul>
    </dd>
    <dt>書き方のヒント</dt>
    <dd>
      <p>譲渡したい理由を書くときには、以下のポイントを書くとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　譲渡したい理由を明確に記載する</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　社内に技術力や営業力がある従業員はいるものの、経営者候補となる者が不在である</li>
            <li class="glyphicon glyphicon-ok">　販路開拓をしていくための十分な社内の人員がおらず、チャンスを逃している</li>
            <li class="glyphicon glyphicon-ok">　職人肌の従業員は多いが、管理者がいないため、ロスが大きい</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">  弱点を克服できたら、十分に勝機があることを伝える</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　経営には関心がないが、管理者や技術者としては優秀な社員が多く在籍している</li>
            <li class="glyphicon glyphicon-ok">　これまでに築いてきた○千件の販売ルートを持っており、営業力さえあれば売上拡大が見込める</li>
            <li class="glyphicon glyphicon-ok">　過去に特許権を多く取得しており、○○の技術力には自信がある。</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">  買い手が求めているのは、磨けば光る会社です。自社だけではどうにもならないことでも、買い手のリソースを使えば大きく変わる可能性があります。自社のいい部分をうまく見せながら、上との理由を書いていきましょう</li>
      </ul>
    </dd>
  </dl>
