  <dl class="question-sm">
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>主要顧客は、会社を移すカガミです。最も大切な顧客との関係を伝えることで、あなたの会社が見えてきます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　主要顧客はあなたの会社と大切な取引をしていますが、これは見方を変えれば主要顧客があなたの会社を必要としていることになります。</li>
        <li class="glyphicon glyphicon-pencil">　なぜ、主要顧客はあなたの会社を必要としているのでしょうか？あなたの会社のどこに魅力があるのでしょうか？</li>
        <li class="glyphicon glyphicon-pencil">　自社の魅力はあなたから見えにくいかもしれませんが、この理由をしっかりと考えていくことで、あなたの会社の魅力が見えてきます。</li>
      </ul>
    </dd>
    <dt>書き方のポイント（法人顧客がメインの場合）</dt>
    <dd>
      <p>顧客名はどのように書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　顧客名は匿名でも構いません。顧客との関係や情報の機密性を十分に考慮したうえで書いてください。</li>
        <li class="glyphicon glyphicon-pencil">　匿名で記載する場合には「上場している製薬メーカー」、「大手総合商社」、「東海地方の食品スーパー」等のようにイメージが伝わる書き方をするとベターです。</li>
      </ul>
      <p>年間取引金額は何を書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　年間取引金額は、過去の取引実績を集計したものを書きますが、概算額でも結構です。</li>
        <li class="glyphicon glyphicon-pencil">　1年間という期間の考え方は、会計期間、暦年（1～12月）、直近月から12ヶ月間のいずれでも結構です。</li>
        <li class="glyphicon glyphicon-pencil">　取引の規模感がわかるように記載してください。</li>
      </ul>
      <p>大切な顧客と考える理由はどのように書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　古くからの取引関係があり、売上規模が上位であるため。</li>
        <li class="glyphicon glyphicon-pencil">　毎期安定した売上が期待でき、安定した収益基盤に貢献しているため。</li>
        <li class="glyphicon glyphicon-pencil">　技術やノウハウを得ることができるため。</li>
　    </ul>
    </dd>
    <dt>書き方のポイント（個人顧客がメインの場合）</dt>
    <dd>
      <p>顧客名はどのように書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　個人顧客がメインの場合は、通常顧客数が多くなると思われますので、管理している顧客グループ単位を書いてください。</li>
        <li class="glyphicon glyphicon-pencil">　顧客グループ単位とは、エリア単位（「○○エリア」等）、性別・年齢階層単位（「30代女性」等）、職業単位（「会社員」、「学生」等）など、あなたの会社で管理している単位で書いてください。</li>
        <li class="glyphicon glyphicon-pencil">　個人情報は記載しないでください。</li>
      </ul>
      <p>年間取引金額は何を書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　年間取引金額は、顧客名に記載した顧客グループ単位の過去1年間における取引金額を書いてください。</li>
        <li class="glyphicon glyphicon-pencil">　1年間という期間の考え方は、会計期間、暦年（1～12月）、直近月から12ヶ月間のいずれでも結構です。</li>
        <li class="glyphicon glyphicon-pencil">　取引の規模感がわかるように記載してください。</li>
      </ul>
      <p>大切な顧客と考える理由はどのように書く？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　古くからの店舗であり、以前からの安定顧客が多い層であるため。</li>
        <li class="glyphicon glyphicon-pencil">　毎期安定した売上が期待でき、安定した収益基盤に貢献しているため。</li>
        <li class="glyphicon glyphicon-pencil">　新規顧客を獲得することが他の顧客グループと比べて容易であるため。</li>
　    </ul>
    </dd>
  </dl>
