  <dl class="question-sm">
    <dt>なぜこの質問が必要なのか？</dt>
    <dd>
      <p>人材、特にキーパーソンはあなたの会社にとって最高の財産です。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社は、いろいろな才能、能力をもった人材が集まって、ビジネスを作り上げているひとつのチームです。</li>
        <li class="glyphicon glyphicon-pencil">　あなたの会社をあなたとともにけん引しているキーパーソンは、まさにあなたの会社の財産です。</li>
        <li class="glyphicon glyphicon-pencil">　そこで、キーパーソンがどんな能力をもち、どのような仕事をしているかについて書くことで、最高の財産をしっかりアピールしましょう。</li>
      </ul>
    </dd>
    <dt>書き方のポイント</dt>
    <dd>
      <p>個人情報に留意しながら、キーパーソンのイメージが伝わるように書いてください</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　役職には、キーパーソンの部門名・職位等を書いてください。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　営業部の部長</li><br>
            <li class="glyphicon glyphicon-ok">　設計部門の課長</li><br>
            <li class="glyphicon glyphicon-ok">　○○店の店長</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　得意分野には、キーパーソンが得意とする業務、専門領域等を簡潔に書いてください。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　紹介ルートからの新規開拓営業</li><br>
            <li class="glyphicon glyphicon-ok">　微細な金属加工ができる製造装置の設計</li><br>
            <li class="glyphicon glyphicon-ok">　集客と店舗のマネジメント</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　キーパーソンである理由には、キーパーソンが得意分野において、どのような能力を発揮しているかについて書いてください。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　営業部長が独自に切り開いた紹介ルートから顧客にアプローチし、毎月○件以上の受注を獲得している。</li>
            <li class="glyphicon glyphicon-ok">　設計課長が過去の設計案件から研究を重ねて開発した設計技術を駆使し、他社にはできない微細な加工を実現する設計を可能としている。</li>
            <li class="glyphicon glyphicon-ok">　○○店の店長は、来店客とのコミュニケーションをしっかりとり、顧客ニーズを把握することで、メニュー開発などの店舗運営に活かしている。</li>
          </ul>
      </ul>
      <p>留意事項としては・・・</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　キーパーソンは３人書く必要はありません。</li><br>
        <li class="glyphicon glyphicon-pencil">　個人情報や機密情報は書かないように注意してください。</li><br>
      </ul>
    </dd>
  </dl>