  <dl>
    <dt> この質問のポイント</dt>
    <dd>
      <p>「強みなんかない！」って思っていませんか？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社は5年以内に80%が倒産すると言われているくらい、非常に厳しい環境にあります。</li>
        <li class="glyphicon glyphicon-pencil">　そのような中で強みがない会社は淘汰されるわけですから、5年以上経営している会社には必ず強みがあるのです（ないと思うのは気づいていないだけ）。</li>
        <li class="glyphicon glyphicon-pencil">　この質問に答えることで、自社の強みを考え直してみてください。</li>
      </ul>
    </dd>
    <dt>強みの見つけ方</dt>
    <dd>
      <p>顧客との関係から強みを探す</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　上顧客があなたの会社とお付き合いをする理由からあなたの会社の強みを探す</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　他社では出せない精度や品質の加工をしてもらえる</li>
            <li class="glyphicon glyphicon-ok">　門外不出のレシピから他店では真似できない味を出している</li>
            <li class="glyphicon glyphicon-ok">　商品を販売しているだけでなく、いろいろな情報を提供してくれる</li>
          </ul>
      </ul>
　　　　　　　　　<p>社内メンバーから強みを探す</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　人材は会社の強みの源泉です。社内のメンバーのいいところを整理してみましょう</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　熟練の職人（技術者・料理人など）や提案力のある営業マンがいる</li>
            <li class="glyphicon glyphicon-ok">　採用に力を入れており、若手の技術者の成長が著しい</li>
            <li class="glyphicon glyphicon-ok">　事業を統括し、マネジメントできる役員がいる</li>
          </ul>
      </ul>
      <p>他社と比べて鼻の差で勝っているモノ、負けていないものでもOK</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　中小企業において、他社と比べて圧倒的に優っているモノを持っているケースは少ないと思います。これは、裏を返せば少しでも勝っているモノ、負けていないモノがあれば十分にセールスポイントになるということです。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　短納期対応では他社に負けない</li>
            <li class="glyphicon glyphicon-ok">　平均的な競合店と比べて行列の長さは負けていない</li>
            <li class="glyphicon glyphicon-ok">　他社と比べて導入している設備で目おとりしていない</li>
          </ul>
    　</ul>
    </dd>
  </dl>
