<dl class="question-sm">
  <dt>調達力のポイントの書き方</dt>
  <dd>
    <p>ポイントは、「誰」が持っている「どのようなルート」なのか？</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　まずは、調達ルートを持っている人が誰なのかを書く（固有名詞は不要です）。</li><br>
        <ul>
          <li class="glyphicon glyphicon-ok">　　工場長が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　　社長が・・・</li><br>
          <li class="glyphicon glyphicon-ok">　　店長が・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　次に、どのようなルートなのかを書く（できるだけ具体的に）。</li><br>
        <ul>
          <li class="glyphicon glyphicon-ok">　過去から信頼関係を構築してきた技術力のある外注先のネットワーク・・・</li><br>
          <li class="glyphicon glyphicon-ok">　上場企業である○○との取引口座を持っており、直接仕入ができる・・・</li><br>
          <li class="glyphicon glyphicon-ok">　産地の農家から直接仕入を行う・・・</li><br>
      　</ul>
      <li class="glyphicon glyphicon-pencil">　調達力の効果がどのようなものなのかを書くとベター</li><br>
        <ul>
          <li class="glyphicon glyphicon-ok">　通常は入手困難な商品の取り扱いが可能・・・</li><br>
          <li class="glyphicon glyphicon-ok">　納期を通常よりも短くすることができる・・・</li><br>
          <li class="glyphicon glyphicon-ok">　仕入価格を抑えることができる・・・</li><br>
    　　</ul>
    </ul>
    <p>留意事項としては・・・</p>
    <ul>
      <li class="glyphicon glyphicon-pencil">　ポイントを３つとも書く必要はありません。</li><br>
      <li class="glyphicon glyphicon-pencil">　機密情報は書かないように注意してください。</li><br>
      <li class="glyphicon glyphicon-pencil">　できるだけ、社長による調達力以外を書いてください。なぜなら、買い手が関心を持っているのはあなたの会社が社長抜きでも回っていくかどうかだからです。</li><br>
    </ul>
  </dd>
</dl>
