  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>買い手にとって、あなたの会社の経営理念や行動指針はすごく気になる！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　買い手は、売り手のことを全く知らないことが多いです。従業員に無理を強いていたり、法令違反をするようなブラック企業でないかどうか不安に思っています。</li>
        <li class="glyphicon glyphicon-pencil">　そこで、重要となるのは経営者の考え方です。経営者がどのような考え方や経営理念を持って経営してきたか、経営者がどのような人物であったのか、が大きな判断材料となります。</li>
        <li class="glyphicon glyphicon-pencil">　あなたの経営に対する想いや考え方をしっかりと自分の言葉で書いていきましょう。</li>
      </ul>
    </dd>
    <dt>書き方のヒント</dt>
    <dd>
      <p>大切にしてきたこと、守ってきたことを書くときには、以下のポイントを書くとうまくアピールできます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　できるだけ自分の言葉で書いて、熱い想いを伝える</li>
        <li class="glyphicon glyphicon-pencil">  従業員や顧客、仕入先、外注先などと築き上げてきたことを熱く語る</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　会社の成長は従業員の成長なくしてはあり得ないことから、従業員教育に力を入れてきた</li>
            <li class="glyphicon glyphicon-ok">　顧客との信頼関係を構築するために、品質を徹底的に追及してきた</li>
            <li class="glyphicon glyphicon-ok">　強固な外注先のネットワークを築くために、外注先とともに品質管理体制や教育訓練を実施してきた</li>
          </ul>
        <li class="glyphicon glyphicon-pencil">  会社経営の中で、掲げてきた目標や達成してきた目標を書く</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　1社でも多くの顧客に自社の商品を使ってもらうことを毎期の経営目標としていた</li>
            <li class="glyphicon glyphicon-ok">　お客様にリピーターとなってもらえるように、会員顧客数の拡大を経営目標としてきた</li>
            <li class="glyphicon glyphicon-ok">　少ない従業員で企業規模を拡大させるために、従業員1人当たり売上高にこだわってきた</li>
          </ul>
      </ul>
    </dd>
  </dl>
