  <dl>
    <dt> なぜこの質問が必要なのか？</dt>
    <dd>
      <p>顧客との信頼関係を構築し続けていくことが、収益基盤を確保するとともに、将来の新たな顧客開拓につながります。ここをしっかりアピールしましょう！</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　顧客との信頼関係は、一朝一夕では作れません。ここに対する努力を怠ると将来の顧客基盤が危うくなってきます。</li>
        <li class="glyphicon glyphicon-pencil">　信頼関係の構築方法は、会社によって様々な形があると思います。強固な人間関係を作っていく、新しい製品を開発して喜んでもらう、役に立つ情報提供をしていく、などなど。</li>
        <li class="glyphicon glyphicon-pencil">　あなたの会社で行っている信頼関係の構築に対する取り組みをきっちり書いて、将来の顧客基盤が盤石であることをアピールしましょう。</li>
      </ul>
    </dd>
    <dt>書き方のポイント（法人顧客がメインの場合）</dt>
    <dd>
      <p>あなたの会社で顧客のために行っている活動を洗い出してみましょう。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　営業担当者が定期的に顧客を巡回し、直接の売上にはつながらなくても顧客からの相談を聞くようにしている。</li>
        <li class="glyphicon glyphicon-pencil">　顧客の役に立つ情報をとりまとめ、定期的にニュースレターやメールマガジンなどによって情報提供している。</li>
        <li class="glyphicon glyphicon-pencil">　既存商品だけでなく、新しい付加価値を提供できる新商品の開発を継続的に行うために、開発担当を置いている。</li>
      </ul>
    <dt>書き方のポイント（個人顧客がメインの場合）</dt>
    <dd>
      <p>顧客に選ばれ続けるための取り組みを洗い出してみましょう。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　どのアルバイトやパートでも一定水準以上の顧客対応ができるように、顧客対応マニュアルを作成し、従業員教育を徹底している。</li>
        <li class="glyphicon glyphicon-pencil">　品質不良によるクレームが出ないように、消費期限のチェック担当者を置いている。</li>
        <li class="glyphicon glyphicon-pencil">　会員顧客を大切にするために、会員特典を充実させ、リピーターを増やす取り組みを行っている。</li>
      </ul>
    </dd>
  </dl>
