  <dl>
    <dt> この質問のポイント</dt>
    <dd>
      <p>課題を明確に伝えることで、買い手に具体的なイメージをつかんでもらえる</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　どんな会社でも強みだけではなく、少なからず様々な課題を抱えているものであり、買い手もこのことは当然理解しています。</li>
        <li class="glyphicon glyphicon-pencil">　なので、強みだけでなく課題や弱みを包み隠さず伝えることで、買い手はあなたの会社に対して無用な懐疑心をもたなくてよくなり、より具体的にイメージすることができるようになります。</li>
        <li class="glyphicon glyphicon-pencil">　また、買い手が課題に対して解決策を提案してくれるケースもあり、話がスムーズに進むこともあります。</li>
      </ul>
    </dd>
    <dt>課題の伝え方</dt>
    <dd>
      <p>強みとセットで課題を伝えると印象が悪くならない</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　課題や弱みだけを書くとマイナス面が強調されますが、強みとセットで書くことで買い手が解決策をイメージしやすくなります</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　優秀な職人が多く加工の技術力はあるが、営業力が不足しているため販路開拓力が不十分であった</li>
            <li class="glyphicon glyphicon-ok">　立地がよく、集客力はあるが、新しいメニューの開発力が不足していた</li>
            <li class="glyphicon glyphicon-ok">　これまで開拓した販路はあるが、新商品の開発ができていなかった</li>
          </ul>
      </ul>
      <p>「○○がないため課題となっている」という書き方をする</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　課題となるものを明確にしたうえで、それがない事実を書くことで、買い手がイメージしやすくなります</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　○○のようなニーズを持った顧客は多いが、xx設備がなかったため対応できなかった</li>
            <li class="glyphicon glyphicon-ok">　質の高い商品はあるが、アフターフォロー体制がなかった</li>
            <li class="glyphicon glyphicon-ok">　○○のような販路はあるが、十分な仕入ルートがなかった</li>
          </ul>
      </ul>
    </dd>
  </dl>
