  <dl>
    <dt>ビジネスの仕組みとは何か？</dt>
    <dd>
      <p>一言で言うと、できるだけコストを抑えながら、売上の維持・成長を続けるためのいろいろな仕事の組み合わせ</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社には、まずヒトがいないと始まりません。また、おカネもないと経営できません。また、業種によりますが大小さまざまな設備や道具（モノ）も必要です。</li>
        <li class="glyphicon glyphicon-pencil">　このように、経営するうえでヒト・モノ・カネと言われる経営資源は必要なんですが、実はこれだけで経営はできません。これらの経営資源をうまく組み合わせて売上を上げていくための仕組みが重要となります。</li>
        <li class="glyphicon glyphicon-pencil">　抽象的でわかりにくいかもしれませんが、コストをできるだけかけずに売上の維持・成長を続けるためにどんな仕事をやっているのか？ということです。</li>
        <li class="glyphicon glyphicon-pencil">　この質問では、販売、技術、開発、調達の4つに分けて、あなたの会社の得意な分野について、答えてみてください。</li>
      </ul>
      <p>「強みなんてないよ」、「他社がよくわからない」ということであれば・・・</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　大切な顧客があなたの会社となぜ取引をしているのか、あなたの会社のどこに魅力を感じているのかを考えてみてください。</li>
        <li class="glyphicon glyphicon-pencil">　得意な分野は多いほど望ましいですが、すべてに当てはまらなくても大丈夫です。１つでもいいので、書いてみてください。</li>
      </ul>
    </dd>
  </dl>
