  <dl>
    <dt>なぜこの質問が必要なのか？</dt>
    <dd>
      <p>会社の財産である人材のやる気を引き出し、成長させるための取り組みは、会社の価値となります。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社の役員や従業員などのメンバーがモチベーションを高めて毎日仕事をすることが、会社を成長させるための原動力となります。</li>
        <li class="glyphicon glyphicon-pencil">　ただ、メンバーのモチベーションは何もしないと徐々に下がっていき、いい仕事ができなくなってしまい、会社の業績も下降していくことでしょう。</li>
        <li class="glyphicon glyphicon-pencil">　そのためにメンバーのモチベーションを上げる仕組みをきっちり作っていくことが、会社の価値向上のために重要なポイントとなります。</li>
      </ul>
    </dd>
    <dt>書き方のポイント</dt>
    <dd>
      <p>どんなことがモチベーションを高める取り組みになるのか？</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　社長をはじめ経営層から従業員に対して、経営方針を明確に伝えて、会社の進むべき道を伝えている。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　中期経営計画を策定し、従業員にも開示している</li><br>
            <li class="glyphicon glyphicon-ok">　会議等で、社長をはじめ経営層の行動や予定を従業員に共有している</li><br>
            <li class="glyphicon glyphicon-ok">　社長が従業員とコミュニケーションをとれる場を設けている</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　会社の業績を従業員に共有している。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　顧客別の売上データを従業員に開示している</li><br>
            <li class="glyphicon glyphicon-ok">　毎月の会議で、月次損益を従業員に共有している</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　従業員の評価制度（昇給・昇格・賞与）を明確にルール化している。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　業績に連動した業績評価制度を導入している</li>
            <li class="glyphicon glyphicon-ok">　従業員と定期的に面談を実施し、意見を取り入れる体制を作っている</li>
          </ul>
      </ul>
    </dd>
  </dl>