  <dl>
    <dt>なぜこの質問が必要なのか？</dt>
    <dd>
      <p>経営環境が変わっていく中で、ビジネスの仕組みはそのままにしていると古くなっていきます。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　「昔は儲かっていたけど、最近はダメ」という会社が多くありますが、こうなってしまった要因の一つに、「経営環境の変化に会社のいろいろなビジネスの仕組みが対応できなかった」ということがあげられます。</li>
        <li class="glyphicon glyphicon-pencil">　経営環境の変化は加速度的に早くなっていますので、これまでどおりのビジネスの仕組みが今後も通用すると考えるべきでありません。</li>
        <li class="glyphicon glyphicon-pencil">　そこで、環境変化に対応してビジネスの仕組みを磨いていくことを課題認識してきっちり対応しているということをアピールするためにも、対応策を書いてみてください。</li>
      </ul>
    </dd>
    <dt>対応策の書き方のポイント</dt>
    <dd>
      <p>現在の会社メンバーが全員10歳年をとって、設備が10年古くなって・・・という10年後のイメージをしながら、対応策を具体的に書いてみてください。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　技術力を持った工場長から技術を承継できる若手技術者の育成する体制を構築する。</li>
        <li class="glyphicon glyphicon-pencil">　現時点で主要顧客との取引が安定しているが、新規顧客の開拓が十分できていないため、今の主要顧客に続く新たな顧客を開拓する新規開拓営業の仕組みを作る。</li>
        <li class="glyphicon glyphicon-pencil">　これまで商品開発は社長が一人で行ってきたが、今後は従業員の中から候補者を選び、商品開発のウハウを引き継いでいく。</li>
      </ul>
    </dd>
  </dl>