  <dl>
    <dt>なぜこの質問が必要なのか？</dt>
    <dd>
      <p>こんな人がいれば会社がもっと成長する！という人がいる買い手にとってあなたの会社は魅力的に映ります。</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　会社の安定や成長は、その会社にどのような人材がいるかにかかっています。一方で中小企業にとってすべての人材がそろっている会社は皆無ではないでしょうか。</li>
        <li class="glyphicon glyphicon-pencil">　こんな人がいれば、もっと営業できる、もっといい商品が作れる、もっといいサービスが展開できるという人をイメージしてください。</li>
        <li class="glyphicon glyphicon-pencil">　あなたの会社で必要な人材がいる買い手がいれば、きっとあなたの会社に興味を持ってもらえるはずです。</li>
      </ul>
    </dd>
    <dt>書き方のポイント</dt>
    <dd>
      <p>「○○するために、○○をやっていきたいので、○○ができる人が必要」という書き方</p>
      <ul>
        <li class="glyphicon glyphicon-pencil">　「○○するために」は、具体的な達成目標となるようなものを書く。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　既存事業を活かした新しい事業を立ち上げ、軌道に乗せるために</li><br>
            <li class="glyphicon glyphicon-ok">　未開拓のエリアに店舗を出すために</li><br>
            <li class="glyphicon glyphicon-ok">　海外からの商品を自社で調達するために</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　「○○をやっていきたい」は、目標達成のためにやるべきことを書く。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　新しい販路を開拓するための営業部隊を作りたい</li><br>
            <li class="glyphicon glyphicon-ok">　進出したいエリアでの店舗運営ノウハウを貯めていきたい</li><br>
            <li class="glyphicon glyphicon-ok">　海外のサプライヤーとのネットワークを作りたい</li><br>
          </ul>
        <li class="glyphicon glyphicon-pencil">　「○○ができる人」は、具体的なスキルやノウハウを書く。</li>
          <ul>
            <li class="glyphicon glyphicon-ok">　○○業界に明るく、新規開拓営業経験のある営業担当者が欲しい</li>
            <li class="glyphicon glyphicon-ok">　○○エリアでの飲食店のマネジメント経験がある人が欲しい</li>
            <li class="glyphicon glyphicon-ok">　英語力があり、海外との貿易経験がある人が欲しい</li>
          </ul>
      </ul>
    </dd>
  </dl>