<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ｍ＆Ａマッチングシステム事務局です。</h1>
    <p>
      貴社に興味を持った企業から、情報開示リクエストが届いています。<br/>
    </p>
    <p>
      以下のリンクより、情報開示リクエストを確認してください。<br>
    </p>
    <%= link_to '貴社の情報開示リクエストの一覧', relationships_url %>
  </body>
</html>
