<div> 
   <% @relationships = @seller.relationships.find_by(buyer_id: @buyer.id, author_kind: "buyer") || Relationship.new %>
   <!-- buyer１社とログインユーザー企業（この場合はseller）に紐づくrelationshipsが承諾済みの場合の処理 -->
   <% if @relationships.status == "accepted" %>
     <%= render 'undisclosure' %>

   <!-- buyer１社とログインユーザー企業（この場合はseller）に紐づくrelationshipsが承認待ちの場合の処理 -->
   <% elsif @relationships.status == "pending" %>
     <%= render 'cancel' %>

   <!-- その他の場合の処理 -->
   <% elsif @relationships.status == nil %>
   <% else %>
     <%= render 'disclosure' %>
   <% end %>
</div>