<%= form_for(@relationships) do |f| %>
  <div>
    <%= f.hidden_field :seller_id, :value => @seller.id %>
    <%= f.hidden_field :status, :value => "follow" %>
  </div>
  <%= f.submit "情報開示を解消する", class: "btn btn-success btn-block", data: { disable_with: "更新中..."} %>
<% end %>