<%= form_for(@relationships) do |f| %>
  <div>
    <%= f.hidden_field :buyer_id, :value => @buyer.id %>
    <%= f.hidden_field :status, :value => "pending" %>
  </div>
  <%= f.submit "情報開示リクエストを送信する", class: "btn btn-success btn-block",
      data: { disable_with: "送信中...", confirm: "選択した企業に情報開示リクエストが送信されます。続けますか？"} %>
<% end %>