<%= form_for(@buyer.s_relationships.build) do |f| %>
  <div>
    <%= hidden_field_tag :buyer_id, @buyer.id %>
  </div>
  <%= f.submit "フォローする", class: "btn btn-success btn-block",
      data: { confirm: "買い手企業にはフォロワー（貴社）の企業情報が開示されます。続けますか？"} %>
<% end %>