<div> 
   <% if @buyer.relationships.exists?(seller_id: @seller.id, author_kind: "seller") %>  <!-- relationshipテーブルにstatusが存在するカラムは、follow済み -->
    <%= render 'unfollow' %>
   <% else %>
    <%= render 'follow' %>
   <% end %>
</div>
