<% provide(:title, "買希望条件マスタ-編集") %>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h3>買希望条件マスタを編集してください。</h3>
      <br>
      <%= render 'shared/buyer_condition_form' %>
    <div class="col-md-3">
    </div>
    </div>
  </div>
