<% provide(:title, '買希望条件リスト') %>
<div class = "container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    <br>
    <h3> 買希望条件リスト</h3>
      <table class="table">
        <tr>
          <th>買希望条件</th><th>編集</th><th>削除</th></tr>
        </tr>
          <% @buyer_conditions.each do |buyer_condition| %>
            <tr>
              <td><%= buyer_condition.b_condit %></td>
              <td><%= link_to '編集', edit_buyer_condition_path(buyer_condition) %></td>
              <td><%= link_to '削除', buyer_condition, method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
            </tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>