<p>Ｍ＆Ａマッチングシステム事務局です。</p>

<p>パスワードを変更するには、下記のリンクをクリックして下さい。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールにお心当たりがない場合は、上記リンクをクリックせずに本メールを削除してください。</p>
<p>上記リンクをクリックしない限り、あなたのパスワードが変更されることはありません。</p>
